

.img-fluid{
max-width: 75px;
max-height: 75px;
  }


.image2{
    max-width: 600px;
    max-height:600px;
  }

.black {
  background-color: #333333
}

.green {
  background-color: #026e00
}

.ccc{
  color:#cccccc
}

.underline{
  text-decoration: underline
}

a:hover {
    background-color: #026e00;
  }

.link {
    color: #026e00;
}

.link:hover {
  color: white;
  text-decoration: none
}

.btn-lg{
    background-color: #026e00; /* Green */
    border: none;
    color: white;
    padding: 25px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    width: 300px;
}

.noWrap{
white-space: nowrap;

}

.link2{

  color: #024e00
}

.bottom{
  font-size:14px;
}

@media (max-width: 600px){

.btn-lg{
  background-color: red;
}

}
